@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container-navBar{
    background: #8a9a5b;
    color:#fff !important;
}
.navbar-light .navbar-nav .nav-link{
    font-family: 'Zen Antique', serif;
    color:#fff;
    font-weight: bold;
    
}
a {
    font-family: 'Zen Antique', serif;
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    
}
a:hover{
    color:#22242d;
}



