@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container-navBar{
    background: #8a9a5b;
    color:#fff !important;
}
.navbar-light .navbar-nav .nav-link{
    font-family: 'Zen Antique', serif;
    color:#fff;
    font-weight: bold;
    
}
a {
    font-family: 'Zen Antique', serif;
    color:#fff;
    font-weight: bold;
    text-decoration: none;
    
}
a:hover{
    color:#22242d;
}
.btn-primary:hover{
    color:#22242d;
}

.clear-cart{
    font-family: 'Zen Antique', serif;
    color:#fff;
    background-color:#22242d;
    border-radius: 20px;
    padding: 5px 5px;
    margin:0 0 5px 0;
}

.delete-item{
    background-color: #dc3545;
    text-decoration: none;
    border: none;
    width: auto;
    cursor:pointer;
}

.badge{
    cursor: pointer;
}
